<!DOCTYPE html>
<html>
  <head>
    <title>B.M.SCE iDip</title>
    <script src="/JS/navbar.js"></script>
    <link rel="stylesheet" href="/JS/navbar.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>

    <style>
      * {
        font-family: "Arial";
        font-weight: 700;
      }
      #main-title {
        font-size: 2rem;
        font-weight: 600;
      }

      #second-title {
        font-size: 2rem;
        font-weight: 600;
      }

      .updatecolumn {
        width: 16vw;
        height: 65vh;
        float: left;
        background-color: #99ccff;
        border-radius: 20px;
        margin-top: 2vh;
        margin-left: 1vw;
        overflow-y: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
      }

      .updatecolumn ::-webkit-scrollbar {
        display: none;
      }

      .downloadcolumn {
        width: 16vw;
        height: 65vh;
        float: right;
        background-color: #99ccff;
        border-radius: 20px;
        margin-top: 2vh;
        margin-right: 1vw;
      }
      .carousel-inner {
        height: 65vh;
        width: 60vw;
        border-radius: 20px;
        margin: 0 10px 10px 10px;
      }
      .carousel {
        height: 65vh;
        width: 60vw;
        position: relative;
        float: left;
        margin: 2vw;
        margin-top: 2vh;
        margin-bottom: 0px;
        border-radius: 20px;
      }
      .carousel .item {
        height: 65vh;
      }
      .carousel img {
        position: absolute;
        top: 0;
        left: 0;
        min-height: 65vh;
      }
      .downloadbutton {
        margin: 2.5vh;
        width: 10vw;
        height: 20vh;
        background-color: #3399ff;
        text-align: center;
        border: 0px;
        border-radius: 20px;
        font-size: 25px;
        margin-left: 3vw;
        margin-right: 3vw;
      }
      .downloadbutton:hover {
        background-color: #0080ff;
      }
      .updates {
        margin-right: 10px;
        overflow: none;
        border-radius: 0px;
      }
      .updates li {
        margin-left: 1.5vw;
        text-align: left;
        text-decoration: dotted;
      }
      .top{
        padding-bottom: 2rem;
      }
    </style>
  </head>
  <body style="background-color: #cce6ff">
    <div class="top">
      <a href="https://www.bmsce.ac.in/"
        ><img src="/Images/bmscelogo2.png" id="bmslogo"
      /></a>
      <h1 id="main-title">B.M.S College of Engineering</h1>
      <h1 id="second-title" style="padding-bottom: 2rem;">Intra Department Internship Portal (iDip)</h1>
    </div>
    <div id="nav-tag"></div>
  </body>
</html>
